# Python Variables & Data Types

## Keywords:
Keywords are pre-defined set of words in any programming laguages which perfoms certain task also you cannot use them as a user defined words in programming; It will throw error. In python, in some cases if you might use such keywords and no errors are thrown there's no gurantee of the desired output or flow of program. also in such case it requires alot of debugging since no errors are shown.

**Some of the keywords are mentioned below:**

In [6]:
#   False    #   class      #   finally   #   is          #   return      #
#   None     #   continue   #   for       #   lambda      #   try         #
#   True     #   def        #   from      #   nonlocal    #   while       #
#   and      #   del        #   global    #   not         #   with        #
#   as       #   elif       #   if        #   or          #   yield       #
#   assert   #  else        #   import    #   pass        # 
#   break    #   except     #   in        #   raise       #

---------------------------------------------------------------------------------------

## Variables & Data Types in Python:
### Variables: 
A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.

> Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

**Rules for defining variable name:**
> Officially, variable names in Python can be any length and can consist of uppercase and lowercase letters (A-Z, a-z), digits (0-9), and the underscore character (_). An additional restriction is that, although a variable name can contain digits, the first character of a variable name cannot be a digit.

In [19]:
# Valid Variable names
name = "Bob"
Age = 54
has_W2 = True
print(name, Age, has_W2)

Bob 54 True

**Note:**
> In python case is significant. Lowercase and uppercase letters are not the same. Use of the underscore character is significant as well. Each of the following defines a different variable:

In [20]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

To see the type of variable you can use ***type()*** function:

In [21]:
print(type(name), type(Age), type(has_W2))

<class 'str'> <class 'int'> <class 'bool'>

### Datatypes:
In Python there following types of built-In data types:

- Text Type: string (str()) 
- Numeric Type: Integer (int()), float(), complex() 
- Sequence Type: list(), tuple(), range()
- Mapping Type: Dictionary (dict())
- Set Types: set(), frozenset()
- Boolean Type: bool() (True/False)
- Binary types : bytes(), bytearray(), memoryview()
- None Type: NoneType()

#### Below are example to better understand datatypes in python

In [22]:
x = "Hello World"
print(type(x))
print(x)

<class 'str'>
Hello World

In [23]:
x = 1
print(type(x))
print(x)

<class 'int'>
1

In [24]:
x = 1.1
print(type(x))
print(x)

<class 'float'>
1.1

In [25]:
x = 1j
print(type(x))
print(x)

<class 'complex'>
1j

In [26]:
x = ["apple", "banana", "cherry"]
print(type(x))
print(x)

<class 'list'>
['apple', 'banana', 'cherry']

In [27]:
x = ("apple", "banana", "cherry")
print(type(x))
print(x)

<class 'tuple'>
('apple', 'banana', 'cherry')

In [28]:
x = range(6)
print(type(x))
print(x)

<class 'range'>
range(0, 6)

In [29]:
x = {"name" : "John", "age" : 36}
print(type(x))
print(x)

<class 'dict'>
{'name': 'John', 'age': 36}

In [30]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))
print(x)

<class 'frozenset'>
frozenset({'cherry', 'banana', 'apple'})

In [31]:
x = True
print(type(x))
print(x)

<class 'bool'>
True

In [32]:
x = b"Hello"
print(type(x))
print(x)

<class 'bytes'>
b'Hello'

In [33]:
x = bytearray(5)
print(type(x))
print(x)

<class 'bytearray'>
bytearray(b'\x00\x00\x00\x00\x00')

x = memoryview(bytes(5))
print(type(x))
print(x)

In [35]:
x = None
print(type(x))
print(x)

<class 'NoneType'>
None

**Note:**
> In above Example we do not defined the type of variable converting the veriable into appropriate datatype automatically is known as **Implicit Typecasting**.

-------------------------------------------------------------------------------------------

***In some Situations there's a need to define or to convert the data type into the desired one and this can be done via Explicit typecasting***

Below are examples of Explicit typecasting:

In [36]:
x = str("Hello World")

In [37]:
x = int(20)

In [38]:
x = int(20)

In [39]:
x = int(20)

In [40]:
x = list(("apple", "banana", "cherry"))

In [41]:
x = tuple(("apple", "banana", "cherry"))

In [42]:
x = range(6)

In [43]:
x = dict(name="John", age=36)

In [44]:
x = set(("apple", "banana", "cherry"))

In [45]:
x = frozenset(("apple", "banana", "cherry"))

In [46]:
x = bool(5)

In [47]:
x = bytes(5)

In [48]:
x = bytearray(5)

In [23]:
x = memoryview(bytes(5))

---
### User Input in python
In python there are other ways of getting data input one of them is eighter assigning values directly or using Input function.

In [4]:
# assigning value
variable = "value"
print ("value")

value

In [5]:
# User input
variable = input ("Input Text/String Here:")
print (type(variable))
print (variable)

Input Text/String Here:32
<class 'str'>
32

##### Notice:
> The function **input()** takes user input as a string by default & to convert it into desired type ypu need to use explicit typecasting.

There are too many functions and keywords and it's impossible to cover them all at once. However many of them will be covered later in the journey.

**Some of the basic functions are:**
> enumerate(), float(), id(), input(), int(), len(), list(), max(), min(), print(), range(), tuple(), type()...etc.

In python there's no end of function as you can also define your own functions if needed above mentioned are some commonly used functions.

----
## Functions:
A piece or a block of code that performs a specific task within a program. In python **def** keyword is used to initialized the code block as a function followed by function name with parenthesis followed by indentation. 

i.e. 
> **_def_** *funtion_name():*
>
>     statement_1
>     statement_2

In function a parameter can be passes under parenthesis however, it is not mandatory to pass a parameter to the function. It still will be usable same as it with parameters.

i.e. 
> **_def_** *funtion_name(parameter):*
>
>     statement_1
>     statement_2

#### Example of function:

In [2]:
# Function without parameter
def add():
    num1 = 14
    num2 = 12 
    result = num1 + num2
    return result

print (add())

26

In [3]:
# Function with parameter
def minus(num1, num2):
    result = num1 - num2
    return result

print (minus(14, 12))

2

**Note:**
> ***return*** keyword is used to return any value but is totally optional means you can use **print()** function also to return values, In python the return value of a function can be any object.

------

## Type Conversions
Type conversion in any programming language is a method to convert (or represent) a certain data type into the other data type temporarily.

Data type conversions can be done in following way

- ***Implicit Type Conversion:*** Conversion of data type done by interpreter automatically
- ***Explicit Type Conversion***

Let's take a example for both

#### Implicit Type Conversion

In [4]:
# Implicit type conversion

radius = 2
print (type(radius))

Pi = 3.14
print (type(Pi))

# Area of Circle
Circle_area = Pi * (radius**2) # Implicit Type Conversion done before evaluating the expression

# Result
print (Circle_area)

# Type of result
print (type(Circle_area))

# again checking the data type of variable
print (type(radius))

<class 'int'>
<class 'float'>
12.56
<class 'float'>
<class 'int'>

#### Explicit Type Conversion

The conversion of one data type into another, done via user intervention or manually as per the requirement. It can be achieved with the help of Python’s built-in type conversion functions such as int(), float(), hex(), etc.

Below are some basic type conversion discussed:
Functions

- `int()`

- `float()`

- `ord()`

- `hex()`

- `oct()`

- `str()`

#####  int()
This function can convert a floating-point number or string into an integer data type. It consists of two parameters.

- The first one i.e. `“x”` is the data type, which we want to convert into an integer data type.
- The second one is base, which defines the number base. For example, a binary number has a base of 2. For an octal number, the base will be 8. The default value of the base is 10. If you want to convert the string data type into a decimal number, you need the base value to be 10.

**syntax:** 
- int (x) : x will be converted into integer type 
- int (x, base) to convert x into integer given with it's base

In [7]:
# assigning string to x
string = "0010101"

# string type casted to int base 2
base_two = int(string,2)

# default base value 10
base_ten = int(string)

# Type casted into base 2
print(base_two)

# Type casted into default base value 10:
print(base_ten)

21
10101

But there's a catch,
if you pass some other values... the function will act differently

In [8]:
conv_num= int(02xd)

# Will Throw Error
print(conv_num)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2599259608.py, line 1)

So, in order to conver such types of conversion there's a different function python provides. It will be discussed in a min.

##### float()
Using `float()`, you can convert an integer or string into a floating-point number. It only accepts one parameter that is the value, which needs to be converted into a floating-point.

**Syntax:** float(x)

In [10]:
# assigning string to x
sample_str = "0010101"

num = 85

#type casting 
conv_str = float(sample_str)

conv_num = float(num)

# Results
print(conv_str)

print(conv_num)

10101.0
85.0

##### ord()
The ord() function converts characters into their integer ASCII value. Basicaly, It is an integer value that is assigned to each character and symbol. So this ord() function helps to get the corresponding ASCII value of the given character.

It takes single string character as a input and returns the integer value corresponding to the index of character in ASCII Table as an output.

**Syntax:** ord(x)

In [8]:
# Example 

character = 'A'

alphabet = ord(character)

number = ord('5')

print(type('y'))

# Ascii value of character 'Y':
print(alphabet)

# Ascii value of character digit '5':
print(number)

# Type of value ord returns
print(type(number))

<class 'str'>
65
53
<class 'int'>

##### hex()

the hex() function, converts an integer into a hexadecimal string. 

**syntax:** hex(x)

In [14]:
# Example

# int to hex
num = 45

conv_num = hex(num)

# Integer type-casted into hexadecimal string 
print(conv_num)

print (type(conv_num))

0x2d
<class 'str'>

This function only allows integers to be changed into hexadecimal.

**Proof**

In [15]:
# Example: Float to Hex
num = 45.6

conv_num = hex(num)

# Float does not type-cast into hexadecimal string 
print(conv_num)

TypeError: 'float' object cannot be interpreted as an integer

##### oct()
Just like the hex function, this function only converts an integer into an octal string.

In [16]:
# int to octal
value = 45

conv_vaL = oct(value)

# Integer type-casted into octal string
print(conv_vaL)

0o55

##### str()

The str() function is used to convert any data type into the string data type. It comes in handy when we want to make use of the wide range of string functions of Python like count(), length(), upper(), lower() etc.

In [22]:
# Example

a = 121

b = 42.0

print(type(a))

print(type(a))

# Integer into String
print(str(a))

# Floating point into String
print(str(b))

print(type(str(a)))

<class 'int'>
<class 'int'>
121
42.0
<class 'str'>

We will discuss about strings later in detail as Python deals differently with strings and some other data types such as list, tuples...etc

## Summary
- Reserved Keywords in Python
- Variable & Data Types
- User Input
- Functions & Keywords
- Type Conversion of Numeric data types & Text data types

**Thanks,**

SK