# Sets in Python

- @Author: Saksham Trivedi
- @alias: SK
- @Description: Sets, Thier use and Set Operations in Python

A Set is a collection of unordered items where each element in the set must be unique & immutable.
The set can only store data structures like Integers, Floating Pointers, Booleans, Tuples and Strings in Python. But cannot store data structures like lists and dictionaries due to their mutable nature.

Similar to Dictionaries in Python, Set also uses curly braces `{}` for declaration i.e.

In [1]:
collection = { 1, 2, 3, 4, 5}

In [2]:
print ( type(collection) )

<class 'set'>

#### Set are ignores duplicates

In [3]:
# Sample
collection = { 1, 2, 3, 3, "Hello", "world", 'world' }
print (collection)

{1, 2, 3, 'world', 'Hello'}

Notice that in above code `print` didn't threw error for duplicates instead it just ignores the duplicates.

even any function/method on sets ignores the duplicates

In [4]:
# Sample 
print (len(collection)) # actual length is 7

5

To Create *`Null Set`* or empty set;

In [5]:
my_set = set() # not my_set = {}; It will create a dictioncary

In [6]:
print ( type(my_set))

<class 'set'>

### `Sets are Mutable but the elements inside the set are immuatable`

## Set Methods

---
### `.add()` Method

*limit: can take only one argment*

In [7]:
# adding an element
my_set.add("author")
my_set.add(1)
my_set.add('BookName')
my_set.add(('this', 'is', 'a', 'tuple'))

print (my_set)

{1, ('this', 'is', 'a', 'tuple'), 'BookName', 'author'}

---
### `.remove()` Method

Removes the mentioned element from the set

In [8]:
my_set.remove('BookName')

print (my_set)

{1, ('this', 'is', 'a', 'tuple'), 'author'}

---
### `.clear()` Method

Clears the Set

In [9]:
my_set.clear()


print (my_set)

set()

---
### `.pop()` Method

Pops out (removes) the random element from the set

In [10]:
my_set = {'Name', 'Author', 'Publisher', 'Book'}

print (my_set.pop())
print (my_set.pop())
print (my_set.pop())
print (my_set.pop())
print (my_set)

Book
Publisher
Name
Author
set()

---
### `.union(set2)` Method

Combines both the set elements and returns the new value without duplicates

In [11]:
# Set One
my_set = { 'Author', 'Publisher', 'BookName'}

# Set Two
my_another_set = { 'Distributor', 'ISBN', 'BookPrice', 'BookName', 'Author'}

# Performing Union 
result_of_union_set = my_set.union(my_another_set)

print (result_of_union_set)

{'ISBN', 'BookPrice', 'BookName', 'Distributor', 'Publisher', 'Author'}

---
### `.intersection( set2 )` Method

Combines elements from both the sets and returns only common elements from both the sets

In [12]:
# Performing Intersection
result_of_intersection_set = my_set.intersection(my_another_set)

print (result_of_intersection_set)

{'BookName', 'Author'}

`cardinality` of a set is a number of unique elements (regarless of number of total element in a set is called it's cardinality of a set

In [13]:
# Finding the cardinality of a set
print("Cardinality of a Union of a Sets is: " + str(len(result_of_union_set)))
print ("")
print("Cardinality of a intersection of a Sets is: " + str(len(result_of_intersection_set)))

Cardinality of a Union of a Sets is: 6

Cardinality of a intersection of a Sets is: 2

In [14]:
# Let's have two sets
dataScientist = set(
    [
        'Python', 
        'R', 
        'SQL', 
        'Git', 
        'Tableau', 
        'SAS'
    ]
)

dataEngineer = set(
    [
        'Python', 
        'Java', 
        'Scala', 
        'Git', 
        'SQL', 
        'Hadoop'
    ]
)

---
### `.diffrenece()` Method

Diffrenece method returns all the elements that are in the first set, but not in the second one.

In [15]:
dataScientist.difference(dataEngineer)

{'R', 'SAS', 'Tableau'}

In [16]:
dataEngineer.difference(dataScientist)

{'Hadoop', 'Java', 'Scala'}

---
### `.symmetric_diffrence()` Method

It returns a new set, containing all the items that are in either of the sets, but not in both ones. We might be able to say that `symmetric_difference` is the exact opposite of the `intersection` method.

In [17]:
dataEngineer.symmetric_difference(dataScientist)

{'Hadoop', 'Java', 'R', 'SAS', 'Scala', 'Tableau'}

In [18]:
dataScientist.symmetric_difference(dataEngineer)

{'Hadoop', 'Java', 'R', 'SAS', 'Scala', 'Tableau'}

---
### `.isdijoint()` Method

It returns a boolean (**`True/False`**), determining if two sets have any elements in common. If they do not have any common elements it will return `True` otherwise `False`

In [23]:
print('Set One: ' + str(dataEngineer))
print('Set Two: ' + str(dataScientist))

print ("")
print('Common Elements: ' + str(dataEngineer.intersection(dataScientist)))
print ("")

dataEngineer.isdisjoint(dataScientist)

Set One: {'Scala', 'Git', 'Hadoop', 'Java', 'Python', 'SQL'}
Set Two: {'Git', 'SAS', 'Python', 'SQL', 'Tableau', 'R'}

Common Elements: {'Git', 'Python', 'SQL'}

False

In [24]:
# Another Example
set1 = {1,2,3}
set2 = {4,5,6}

set1.isdisjoint(set2)

True

---
### `.issubset()` Method 

It returns a boolean, determining if the second set has all the items that are present in the first one.

In [25]:
dataEngineer.issubset(dataScientist)

False

In [27]:
# Another Eample

set1 = { 1, 2, 3 }
set2 = { 1, 2, 3, 4, 5, 6 }

set1.issubset(set2)

True

---
### `.propersubset()` Method

Proper subset is the same as subset; the only difference is that the proper subset does not include the identical sets. So, if a Python set is exactly the same as another one, they are a subset of each other, but not a proper subset.

In [30]:
set1 = set( [2, 4, 5])
set2 = set( [1, 2, 3, 4, 5, 6])

print (set1 > set2)

print (set1 < set2)

False
True

---
### `update()` Method

By using the `.update()` or the `|=` operator, you can add new elements to your original set:

In [5]:
set1 = set( [1, 2, 3, 4, 5])
set2 = set( [3, 4, 5, 6, 7])

set1.update(set2)

print (set1)

set1 |= set2

print (set1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [6]:
print (set2)

{3, 4, 5, 6, 7}

---
### `.difference_update()` Method

The `.difference_update()` method or the `-=` operator can remove the items that are in the second set from your original set:

In [8]:
set1 = set( [1, 2, 3, 4, 5])
set2 = set( [3, 4, 5, 6, 7])


set1.difference_update(set2)

set1 -= set2

print(set1)

{1, 2}

---
### `.symmetric_difference_update()` Method

You can use the `.symmetric_difference_update()` method or the ^= operator to keep only the items that are in either the first or the second set, but not in both of them. Basically, the .symmetric_difference_update() method can remove the common items from your original set.

In [12]:
set1 = set( [1, 2, 3, 4, 5])
set2 = set( [3, 4, 5, 6, 7])

set1.symmetric_difference_update(set2)

print (set1)

{1, 2, 6, 7}

---
### `.intersection_update()` Method

The `.intersection_update()` method can update your set to contain only the common items from two sets. You can also use the `&=` operator to do the same:

In [14]:
set1 = set( [1, 2, 3, 4, 5])
set2 = set( [3, 4, 5, 6, 7])

set1.intersection_update(set2)

print (set1)

{3, 4, 5}

---
### `.remove()` Method

The `.remove()` Method can remove a single immutable object from your original Python set. Take into account that Python will raise a KeyError exeption if the element is not present in your set:

The `.discard()` method also removes an element from your set. The only difference is that is does not raise an exception if the element is not found in the set:

In [16]:
set1 = set( [1, 2, 3, 4, 5])

set1.discard(3)


print(set1)

{1, 2, 4, 5}

---
### `.pop()` Method


The `.pop()` Method will pop a random element from your Python set. Take into account that the .pop() method will raise a KeyError exception if the set is empty.

In [18]:
set1 = set( [1])

set1.pop()

print (set1)

set1.pop()
print(set1)

set()

KeyError: 'pop from an empty set'

---
### `.clear()` Method

By using the `.clear()` method, you can remove all the items from your set:

In [20]:
set1 = set( [1, 2, 3, 4, 5])

set1.clear()

print(set1)

print(set1)

set()
set()

## Thanks
## SK